:root {
    --color1: #485563;
    --color2: #29323c;
    --color3: #555f6b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--green);
    background: linear-gradient(to right top, var(--color1), var(--color2));
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

.container {
    max-width: 1200px;
    max-height: 80vh;
    display: flex;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.75);
    background: linear-gradient(to right top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.25));
    padding: 32px 92px;
    border-radius: 20px;
    position: relative;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    overflow: auto;
}

.bg__img {
    position: absolute;
}


.bg__img--logo {
    left: 0;
    top: 50%;
    width: 50%;
    opacity: 0.25;
    transform: translate(-50%, -50%);
}

header {
    flex: 1;
}

h1 {
    padding: 24px 0 12px;
    font-size: 48px;
}

p {
    padding-bottom: 12px;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

a {
    color: var(--green);
    text-decoration: none;
    position: relative;
}

a:after {
    content: "";
    width: 0;
    height: 3px;
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--green);
    background: linear-gradient(90deg, transparent, var(--green));
    transition: width 0.3s;
}

a:hover:after {
    width: 100%;
}

main {
    display: flex;
}

section:first-child {
    margin-right: 100px;
}

button {
    width: 350px;
    margin-top: 32px;
    padding: 16px 0;
    font-size: 42px;
    font-weight: 700;
    color: #fff;
    background: var(--green);
    background: linear-gradient(to right top, var(--green), rgba(255, 255, 255, 0.6));
    border: none;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

button:focus {
    outline-color: #fff;
}

button:after {
    width: 50px;
    height: 150%;
    position: absolute;
    left: -100px;
    top: -25px;
    content: "";
    background-color: rgba(255, 255, 255, 0.4);
    transform: rotate(20deg);
    transition: transform 0.4s;
}

button:hover:after {
    transform: translateX(500px) rotate(20deg);
}
