:root {
  --color1: #485563;
  --color2: #29323c;
  --color3: #555f6b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
width: 100vw;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background: linear-gradient(to right top, var(--color1), var(--color2));
font-family: "Bebas Neue", sans-serif;
font-weight: 400;
color:aliceblue;
font-size: 25px;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
overflow-x: hidden;
}

.bg_img{
opacity: 0.25;
transform: translate(250px, -500px);
position: absolute;
}

.bg_img--zdjecie2 {
opacity: 0.25;
transform: translate(1400px, 300px) rotate(-25deg);
position: absolute;
}


.nav-conteiner {
  position: fixed;
  top: 0;
  width: 98%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--color3);
  backdrop-filter: blur(5px);
  border-radius: 20px;
  padding: 15px 33rem;
  text-align: center;
  z-index: 2;
}

.logo-nav{
  color:black;
  margin-left: 30px;
}

.nav-conteiner a {
  text-decoration: none;
  color: black;
  padding: 5px 10px;
  border-radius: 10px;
  transition: color 0.4s;
}

a:hover {
  color: rgb(255, 255, 255);
}

.main-container{
  max-width: 1200px;
  max-height: 80vh;
  display: flex;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.75);
  background: linear-gradient(to right top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.25));
  padding: 32px 92px;
  border-radius: 20px;
  position: relative;
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(8px);
  overflow: auto;
  transform: translate(0%, -300px);
}

h1 {
padding: 24px 0 12px;
font-size: 48px;
font-family: "Bebas Neue", sans-serif;
text-align: center;
}

h2 {
  padding: 24px 0 12px;
  font-size: 48px;
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  }

p {
padding-bottom: 12px;
font-size: 20px;
font-weight: 400;
line-height: 32px;
}

a {
text-decoration: none;
position: relative;
}

.text-new{
  display: flex;
  position:absolute;
  transform: translate(0%, 50px);
  color: linear-gradient(to right top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.25));
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position:absolute;
  background: linear-gradient(to right top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.25));
    padding: 32px 92px;
    border-radius: 20px;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(8px);
    overflow: auto;
    transform: translate(0%, 650px);
}

.product-item {
  text-align: center;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  width: 30%;
}

.produkt-img {
  max-width: 280px;
}

  .buy-button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
      background: linear-gradient(to bottom, var(--color1), var(--color3));
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .buy-button:hover {
    background: linear-gradient(to bottom, var(--color1), var(--color2));
  
  }
  
  .buy-button:active {
    background: linear-gradient(to bottom, var(--color1), var(--color2));
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .text-info{
    display: flex;
    position:absolute;
    transform: translate(0%, 1250px);
  }

  .onas{
    width: 700px;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    justify-content: space-around;
    background: linear-gradient(to right top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.25));
      padding: 50px 50px;
      border-radius: 20px;
      backdrop-filter: blur(1px);
      -webkit-backdrop-filter: blur(8px);
      overflow: auto;
      transform: translate(500px, 1700px);
      float: right;
      width: 35%;
  margin-left: 60px;
  
  }
  .zdjecia{
    width: 700px;
    height: 700px;
      display: flex;
      flex-wrap: wrap;
      position: absolute;
      justify-content: space-around;
      background: linear-gradient(to right top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.25));
        padding: 50px 50px;
        border-radius: 20px;
        backdrop-filter: blur(1px);
        -webkit-backdrop-filter: blur(8px);
        overflow: auto;
        transform: translate(-500px, 1700px);
        float: right;
        width: 35%;
    margin-right: 60px;
    }

.back-img-button {
  flex-wrap: wrap;
  font-size: 30px;
  padding: 10px 25px;
  background: linear-gradient(to bottom, var(--color1), var(--color3));
  color: white;
  border: none;
  border-radius: 100px;
  transform: translate(5%, 50%);
  cursor: pointer
}
.next-img-button {
  font-size: 30px;
  padding: 10px 25px;
  background: linear-gradient(to bottom, var(--color1), var(--color3));
  color: white;
  border: none;
  border-radius: 100px;
  transform: translate(-5%, 50%);
  cursor: pointer;
}

#main-image{
  transform: translate(-5%, 50%);
  transition: transform 0.5s ease;
}

.newsletter {
  text-align: center;
  display: flex;
  position: absolute;
  transform: translate(0px, 2450px);



  flex-wrap: wrap;

  justify-content: space-around;
  background: linear-gradient(to right top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.25));
    padding: 50px 50px;
    border-radius: 20px;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(8px);
    overflow: auto;

    float: right;
    width: 35%;
margin-left: 60px;
}

.text-newsletter{
  display: flex;
  position:absolute;
  transform: translate(0%, 2200px);
}

.newsletter__description {
  margin-bottom: 1rem;
  font-size: .75rem;
  color:white;
}

.newsletter__form {
  display: grid;
  grid-template-columns: 1fr .5fr;
}

.newsletter__input {
  outline: none;
  border: none;
  background-color: whitesmoke;
  padding: 0 1rem;
}

.button {
  display: inline-block;
  padding: 15px 10px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
    background: linear-gradient(to bottom, var(--color1), var(--color3));
  border: none;
}

.button:hover {
  background: linear-gradient(to bottom, var(--color1), var(--color2));
}

@media only screen and (max-width: 1800px) {
  body {
    font-size: 20px;
  }

  .nav-conteiner {
    padding: 15px 1rem;
  }

}

@media screen and (max-width: 768px) {
  .main-container {
    max-width: 100%;
    padding: 16px;
    transform: translate(0%, 0);
  }

  .product-container {
    padding: 16px;
    transform: translate(0%, 0);
  }
}
